@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
    }

    .text-center {
        padding: 50px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .display-4 {
        color: #333;
        font-weight: bold;
    }

    p {
        color: #666;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aprender sobre <a href="https://github.com/EliasFlores25/ApiWebFrontend.git">Desarrollar aplicaciones web con ASP.NET Core</a>.</p>
</div>
